ion-content {
  // --background: radial-gradient(ellipse farthest-corner at 50% 30%, #2b2d33 0%, #1e2025 50%, #14151a 100%);
  --background: #111;

  .gaming {
    height: auto;
    min-height: 100%;
    background-image: url('../../../assets/images/csgo.png'),  url('../../../assets/images/pattern.png');
    background-repeat: no-repeat, repeat;
    background-position-x: center, left;
    background-position-y: top, top;

    audio {
      display: none;
    }

    .gaming-container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 16px;

      ion-header {
        --background: transparent;

        ion-toolbar {
          --background: transparent;

          .toolbar-content {
            display: flex;
            align-items: center;

            .csgo-oficial {
              flex: 1;

              img {
                width: 220px;
              }
            }
          }
        }
      }

      .gaming-container {
        width: 100%;
        margin-top: 50px;

        .gaming-header {
          width: 100%;
          border-radius: 25px;

          .csgo-name {
            margin-top: 10px;
  
            p {
              text-align: center;
              
              &.nickname {
                color: #eee;
                font-size: 18px;
              }
  
              &.place {
                color: #ccc;
                font-size: 14px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-top: 3px;
  
                ion-icon {
                  font-size: 18px;
                }
              }
            }
          }

          .csgo-patent {
            margin: 0 auto;
            border-radius: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
  
            &:before {
              position: absolute;
              content: url('../../../assets/images/aguia-1.png');
              display: block;
              animation: pulse infinite 2s;
              opacity: 0;
              transform: scale(1);
            }
  
            svg {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              fill: none;
              width: 180px;
              height: 180px;
  
              & circle {
                stroke: #111;
                position: absolute;
                transform: translate(5%, 5%);
                stroke-linecap: round;
  
                &:nth-child(1) {
                  stroke-width: 1;
                  fill: rgba(17, 17, 17, 0.658);
                }
  
                &:nth-child(2) {
                  stroke-dasharray: calc((500 / 18) * 15);
                  stroke-dashoffset: 0;
                  stroke: var(--gold-patent);
                  stroke-width: 2;
                }
              }
            }
  
            img {
              height: 70px;
              filter: drop-shadow(2px 2px 4px #111);
            }
          }
        }

        .gaming-content {
          .csgo-text {
            max-width: 600px;
            margin: 0 auto;
            width: 100%;
            padding: 16px;
            background: linear-gradient(to bottom, #111 0%, transparent 50%);
            
            border-top: 1px solid #222;

            p {
              color: #777;
              font-size: 14px;

              b {
                color: #999;
              }

              &:not(:last-child) {
                margin-bottom: 20px;
              }

              &.welcome {
                padding-bottom: 10px;
              }

              span {
                font-weight: normal;
                font-family: var(--font-personalizada);

                &.en { font-size: 14px; color: #555; }
                &.es { font-size: 18px; color: #ccc;}
                &.pt { font-size: 22px; color: var(--gold-patent); }
              }
            }
          }

          .csgo-hardware {
            width: 100%;
            height: 100%;
            // box-shadow: -10px 0px 5px -4px rgba(0, 0, 0, .2), 10px 0px 5px -4px rgba(0, 0, 0, .2);
            max-width: 600px;
            margin: 0 auto;
            text-align: center;

            ion-button {
              margin-top: 30px;

              ion-icon {
                margin-right: 10px;
              }
            }

            ion-slides {
              ion-slide {
                .hardware-card {
                  width: 100%;

                  .hardware-card-header {
                    background: linear-gradient(to bottom, #111 0%, transparent 50%);
                    padding: 10px;
                    width: 100%;
                    height: 180px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid #222;
                  } 

                  .hardware-card-content {
                    > p {
                      color: #fff;
                      font-weight: normal;
                      font-size: 14px;
                      margin: 16px 0;
                    }
                  }
                }
              }
            }
          }

          .csgo-plataforms {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px auto;
            border-radius: 20px;
  
            .csgo-plataform-card {
              height: auto;
              border-radius: 6px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
  
              &:nth-child(2) {
                margin-left: 30px;
              }
  
              img {
                align-self: center
              }
  
              .plataform-level {
                background: transparent;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                position: relative;
                margin-bottom: 10px;
  
                &::before {
                  background: #111;
                  position: absolute;
                  left: 1px;
                  top: 1px;
                  width: calc(100% - 2px);
                  height: calc(100% - 2px);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 16px;
                }
  
                &.gc {
                  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
                  background-color: var(--gold-patent);
  
                  &::before {
                    box-sizing: border-box;
                    padding-top: 3px;
                    content: '11';
                    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
                  }
                }
  
                &.faceit {
                  border-radius: 100%;
                  background-color: var(--gold-patent);
  
                  &::before {
                    content: '3';
                    border-radius: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

ion-footer {
  background: #000;

  ion-toolbar {
    --background: linear-gradient(to right, #111 0%, transparent 50%), linear-gradient(to left, #111 0%, transparent 50%);
    padding: 0 16px;

    p {
      color: #fff;
      font-size: 12px;

      ion-icon {
        color: var(--gold-patent);
      }

      a {
        color: var(--gold-patent);
      }
    }
  }
}