<ion-content>
  <section class="gaming">
    <div class="gaming-container">
      <ion-header mode="ios" class="ion-no-border">
        <ion-toolbar mode="ios">
          <img src="../../../assets/images/csgo-oficial.png" alt="Counter Strike Global Offensive" class="csgo-oficial">
          <ion-button fill="clear" slot="end" class="gaming-social"><ion-icon slot="icon-only" name="logo-steam"></ion-icon></ion-button>
          <ion-button fill="clear" slot="end" class="gaming-social"><ion-icon slot="icon-only" name="logo-twitch"></ion-icon></ion-button>
          <ion-button fill="clear" slot="end" class="gaming-social"><ion-icon slot="icon-only" name="logo-discord"></ion-icon></ion-button>
        </ion-toolbar>
      </ion-header>

      <div class="gaming-content">
        <div class="csgo-patent">
          <img src="../../../assets/images/aguia-1.png" alt="">

          <svg>
            <circle cx="80" cy="80" r="80"></circle>
            <circle cx="80" cy="80" r="80"></circle>
          </svg>
        </div>
        
        <div class="csgo-progress">
          <p class="font-personalizada"><b>@</b>phelpsdoborel</p>
        </div>
      </div>
    </div>

    <!-- <audio autoplay loop>
      <source src="../../../assets/sound/eagle-sound.mp3" type="audio/mpeg">
    </audio> -->
  </section>
</ion-content>
