<pre>
  <span class="doctype-gray">&lt;!DOCTYPE html&gt;</span>
  <span class="tag-purple">&lt;html</span> <span class="tag-orange">lang="</span><span class="tag-blue">pt-br</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
    <span class="tag-purple">&lt;head&gt;</span>
      <span class="comment-green">&lt;!-- META TAGs --&gt;</span>
      <span class="tag-purple">&lt;meta</span> <span class="tag-orange">charset="</span><span class="tag-blue">utf-8</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
      <span class="tag-purple">&lt;meta</span> <span class="tag-orange">name="</span><span class="tag-blue">viewport</span><span class="tag-orange">"</span> <span class="tag-orange">content="</span><span class="tag-blue">viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
      <span class="tag-purple">&lt;meta</span> <span class="tag-orange">name="</span><span class="tag-blue">description</span><span class="tag-orange">"</span> <span class="tag-orange">content="</span><span class="tag-blue">Desenvolvedor Front-end.</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
      <span class="tag-purple">&lt;meta</span> <span class="tag-orange">name="</span><span class="tag-blue">keywords</span><span class="tag-orange">"</span> <span class="tag-orange">content="</span><span class="tag-blue">desenvolvimento, front-end, baixada santista, são paulo, developer, front, frontend, app, web</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>

      <span class="comment-green">&lt;!-- INFORMAÇÕES --&gt;</span>
      <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">icon</span><span class="tag-orange">" type="</span><span class="tag-blue">image/png</span><span class="tag-orange">" href="</span><span class="tag-blue">./assets/images/favicon.png</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
      <span class="tag-purple">&lt;title&gt;</span> Baptistella - Desenvolvimento Front-end. <span class="tag-purple">&lt;/title&gt;</span>

      <span class="comment-green">&lt;!-- ESTILOS --&gt;</span>
      <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">stylesheet</span><span class="tag-orange">" href="</span><span class="tag-blue">./styles/reset.css</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
      <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">stylesheet</span><span class="tag-orange">" href="</span><span class="tag-blue">./styles/global.css</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
      <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">stylesheet</span><span class="tag-orange">" href="</span><span class="tag-blue">./styles/grid.css</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>

      <span class="tag-purple">&lt;style&gt;</span>
        .fixed &#123;
          <span class="property-orange">position</span><span class="property-blue">:</span> <span class="property-green">fixed</span>;
          <span class="property-orange">left</span><span class="property-blue">:</span> <span class="property-green">0</span>;
          <span class="property-orange">top</span><span class="property-blue">:</span> <span class="property-green">0</span>;
        &#125;

        .z-index-100 &#123; <span class="property-orange">z-index</span><span class="property-blue">:</span> <span class="property-green">100</span>; &#125;

        .what-i-do-btn &#123;
          <span class="property-orange">background-color</span><span class="property-blue">:</span> <span class="property-green">#ab3f38</span>;
          <span class="property-orange">color</span><span class="property-blue">:</span> <span class="property-green">#fff</span>;
          <span class="property-orange">max-width</span><span class="property-blue">:</span> <span class="property-green">216px</span>;
          <span class="property-orange">height</span><span class="property-blue">:</span> <span class="property-green">36px</span>;
        &#125;
      <span class="tag-purple">&lt;/style&gt;</span>
    <span class="tag-purple">&lt;/head&gt;</span>

    <span class="tag-purple">&lt;body&gt;</span>
      <span class="tag-purple">&lt;section </span><span class="tag-orange">class="</span><span class="tag-blue">html-code</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
        <span class="tag-purple">&lt;div </span><span class="tag-orange">class="</span><span class="tag-blue">container</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
          <span class="tag-purple">&lt;div </span><span class="tag-orange">class="</span><span class="tag-blue">row</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
            <span class="tag-purple">&lt;div </span><span class="tag-orange">class="</span><span class="tag-blue">col-12</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
              <span class="comment-green">&lt;!-- AQUI COLOCAREMOS O CONTEÚDO --&gt;</span>
            <span class="tag-purple">&lt;/div&gt;</span>
          <span class="tag-purple">&lt;/div&gt;</span>
        <span class="tag-purple">&lt;/div&gt;</span>
      <span class="tag-purple">&lt;/section&gt;</span>

      <span class="tag-purple">&lt;section </span><span class="tag-orange">class="</span><span class="tag-blue">button fixed z-index-100</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
<div class="tag-highlighted"><span class="tag-purple">&lt;button </span><span class="tag-orange">class="</span><span class="tag-blue">what-i-do-btn</span><span class="tag-orange">"</span> <span class="tag-orange">type="</span><span class="tag-blue">button</span><span class="tag-orange">" <span class="tag-orange">onclick="</span><span class="tag-blue">navigateToHome()</span><span class="tag-orange">"</span></span><span class="tag-purple">&gt;</span> O que faz um front-end? <span class="tag-purple">&lt;/button&gt;</span></div>      <span class="tag-purple">&lt;/section&gt;</span>

      <span class="comment-green">&lt;!-- SCRIPTS --&gt;</span>
      <span class="tag-purple">&lt;script </span><span class="tag-orange">type="</span><span class="tag-blue">text/javascript</span><span class="tag-orange">" src="</span><span class="tag-blue">./scripts/home.js</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
    <span class="tag-purple">&lt;/body&gt;</span>
  <span class="tag-purple">&lt;/html&gt;</span></pre>