ion-button {
  font-weight: normal;
  text-transform: none;

  &.default { --background: var(--light-purple); }

  &.default-dark { --background: var(--dark-purple); }
  
  &.green-light {
    --color: var(--light-green);
    --background: transparent;
    --border-color: var(--light-green);
    --border-width: 1px;
    font-family: var(--font-personalizada);
    font-size: 18px;
    --padding-start: 0;
    --padding-end: 0;
    --background-hover: transparent;
  }

  &.gray {
    --color: #777;
    --background: #111;
    --border-color: #222;
    --border-width: 1px;
    font-family: var(--font-personalizada);
    font-size: 16px;
    --background-hover: #222;
  }

  &.gaming-social {
    --color: #fff;

    img { width: 24px; }
  }

  &.gaming-default {
    --background: linear-gradient(45deg, var(--gold-patent-dark), var(--gold-patent));
    text-transform: none;
    font-weight: normal;
  }
}