ion-button {
  font-weight: normal;
  text-transform: none;

  &.default { --background: var(--light-purple); }

  &.default-dark { --background: var(--dark-purple); }
  
  &.green-light { --background: var(--light-green); }

  &.gaming-social {
    --color: #fff;

    img { width: 24px; }
  }

  &.gaming-default {
    --background: linear-gradient(45deg, var(--gold-patent-dark), var(--gold-patent));
    text-transform: none;
    font-weight: normal;
  }
}