<ion-header mode="ios" class="what-i-do-header">
  <ion-toolbar mode="ios">
    <ion-title>diuahduah</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios">
    <ul>
      <li><img src="../../../assets/images/console-icons.png"></li>
      <li>icone</li>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="what-i-do console-style">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="8">
          <div class="html-code">
            <ion-content>
              <div class="html-code-tags console-style">
                <pre>
<span class="doctype-gray">&lt;!DOCTYPE html&gt;</span>
<span class="tag-purple">&lt;html</span> <span class="tag-orange">lang="</span><span class="tag-blue">pt-br</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
  <span class="tag-purple">&lt;head&gt;</span>
    <span class="comment-green">&lt;!-- META TAGs --&gt;</span>
    <span class="tag-purple">&lt;meta</span> <span class="tag-orange">charset="</span><span class="tag-blue">utf-8</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
    <span class="tag-purple">&lt;meta</span> <span class="tag-orange">name="</span><span class="tag-blue">viewport</span><span class="tag-orange">"</span> <span class="tag-orange">content="</span><span class="tag-blue">viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>

    <span class="comment-green">&lt;!-- ESTILOS --&gt;</span>
    <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">stylesheet</span><span class="tag-orange">" href="</span><span class="tag-blue">./styles/reset.css</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
    <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">stylesheet</span><span class="tag-orange">" href="</span><span class="tag-blue">./styles/global.css</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>

    <span class="comment-green">&lt;!-- INFORMAÇÕES --&gt;</span>
    <span class="tag-purple">&lt;link </span><span class="tag-orange">rel="</span><span class="tag-blue">icon</span><span class="tag-orange">" type="</span><span class="tag-blue">image/png</span><span class="tag-orange">" href="</span><span class="tag-blue">./assets/images/favicon.png</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
    <span class="tag-purple">&lt;title&gt;</span> Baptistella - Desenvolvimento Front-end. <span class="tag-purple">&lt;/title&gt;</span>
  <span class="tag-purple">&lt;/head&gt;</span>

  <span class="tag-purple">&lt;body&gt;</span>
    
    <span class="comment-green">&lt;!-- SCRIPTS --&gt;</span>
    <span class="tag-purple">&lt;script </span><span class="tag-orange">type="</span><span class="tag-blue">text/javascript</span><span class="tag-orange">" src="</span><span class="tag-blue">./scripts/home.js</span><span class="tag-orange">"</span><span class="tag-purple">&gt;</span>
  <span class="tag-purple">&lt;/body&gt;</span>
<span class="tag-purple">&lt;/html&gt;</span>

                </pre>
              </div>
            </ion-content>

            <ion-footer mode="ios" class="what-i-do-footer">
              <ion-toolbar mode="ios">
                <ion-title>diuahduah</ion-title>
              </ion-toolbar>
            </ion-footer>
          </div>
        </ion-col>

        <ion-col size="4">
          <div class="css-code">
            dadadad
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
