@media screen and (max-width: 992px) {
  ion-content.with-me {
    background-size: contain;

    section.what-you-see {
      .perfil {
        justify-content: center;
      }

      ion-slides {
        height: 100vh;
        padding: 20px 0;
      }
    }
  }
}